{% extends 'messenger/base.html' %}

{% block content %}
<h2>Детали рассылки: "{{ mailing.name }}"</h2>
<p><strong>Сообщение:</strong> {{ mailing.message }}</p>
<p><strong>Статус:</strong> {{ mailing.get_status_display }}</p>
<p><strong>Дата и время первой отправки:</strong> {{ mailing.start_date_time }}</p>
<p><strong>Дата и время окончания отправки:</strong> {{ mailing.end_date_time }}</p>
<p><strong>Получатели:</strong></p>
<ul>
    {% for recipient in messenger.recipients.all %}
        <li>{{ recipient.full_name }} ({{ recipient.email }})</li>
    {% empty %}
        <li>Нет получателей</li>
    {% endfor %}
</ul>
<a href="{% url 'messenger:mailing_update' mailing.pk %}">Редактировать</a>
<a href="{% url 'messenger:mailing_confirm_delete' mailing.pk %}">Удалить</a>
<a href="{% url 'messenger:list_mailing' %}">Назад к списку рассылок</a>
{% endblock %}